{% extends "base.html" %}
{% block content %}
<div class="container text-center">
    <form method="POST" class="form-register" style="color:white">
        <h1>Create an account</h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}
        {{ form.email_address.label() }}
        {{ form.email_address(class="form-control", placeholder="Email") }}
        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder="Password") }}
        {{ form.password2.label() }}
        {{ form.password2(class="form-control", placeholder="Confirm Password") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
    </form>
</div>
{% endblock %}

{% block title %}
    Register
{% endblock %}